!!!

.container
  %img.featured-image(src="http://placehold.it/600x500/333333&text=Featured Image") 
.container
  .button
    = link_to "Register Now" , "#"
  %h1 Today's Featured Speakers
.container
  %table#speakers.table2
    %tr
      %td  
        %table.table2
          %tr
            %td
              %img.speaker-img(src="http://placehold.it/200x200/111&text=Speaker")
              %table.speaker-text.table2
                %tr
                  %td
                    .speaker-name Speaker Name
                    .speaker-title Title
            %td
              %img.speaker-img(src="http://placehold.it/200x200/111&text=Speaker")
              %table.speaker-text.table2
                %tr
                  %td
                    .speaker-name Speaker Name
                    .speaker-title Title
            %td
              %img.speaker-img(src="http://placehold.it/200x200/111&text=Speaker")
              %table.speaker-text.table2
                %tr
                  %td
                    .speaker-name Speaker Name
                    .speaker-title Title
        %h1 Confirmed Government Speakers
        %table.table2
          %tr
            %td
              %ul
                %li
                  %span.list-name  Speaker |
                  %span.list-title Title
                %li
                  %span.list-name Speaker |
                  %span.list-title Title
                %li
                  %span.list-name Speaker |
                  %span.list-title Title
                %li
                  %span.list-name Speaker |
                  %span.list-title Title
            %td
              %ul
                %li
                  %span.list-name Speaker |
                  %span.list-title Title
                %li
                  %span.list-name Speaker |
                  %span.list-title Title
                %li
                  %span.list-name Speaker |
                  %span.list-title Title
                %li
                  %span.list-name Speaker |
                  %span.list-title Title
.container
  .button
    = link_to "View all speakers" , "#"
%h1 Sponsors
.sponsor-container
  %table
    %tr
      %td
        %img(src="http://fedscoop.com/events/fedtalks/assets/intel.png")
      %td
        %img(src="http://placehold.it/200x200/111111&text=Sponsor")
      %td
        %img(src="http://placehold.it/200x200/111111&text=Sponsor")
      %td
        %img(src="http://placehold.it/200x200/111111&text=Sponsor")
      %td
        %img(src="http://placehold.it/200x200/111111&text=Sponsor")
      %td
        %img(src="http://placehold.it/200x200/111111&text=Sponsor")
    %tr
      %td
        %img(src="http://placehold.it/200x200/111111&text=Sponsor")
      %td
        %img(src="http://placehold.it/200x200/111111&text=Sponsor")
      %td
        %img(src="http://placehold.it/200x200/111111&text=Sponsor")
      %td
        %img(src="http://placehold.it/200x200/111111&text=Sponsor")
      %td
        %img(src="http://placehold.it/200x200/111111&text=Sponsor")
      %td
        %img(src="http://placehold.it/200x200/111111&text=Sponsor")
.container
  .button
    = link_to "Find out more" , "#"





    

  




     



    


 
